.logo{
    width: 300px;
    margin-top: -27px;
    margin-left: 29rem;
}
.welcome-heading{
    color: rgb(56, 45, 184);
    margin-left: 29rem;
    margin-top: -2rem;
    margin-bottom: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}
.welcome-heading h3{
    font-size: 40px;
    font-weight: 500;
}
.welcome-note{
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-top: -20px;
}
.add-member{
    margin-left: 8rem;
    margin-top: 4rem;
}
.btn.btn-danger.btn-lg{
    margin-left: 29rem;
    margin-top: 4rem;
    padding: 20px 40px !important;
    font-size: 30px !important;
}
.btn.btn-danger.btn-lg:hover{
    background-color: rgb(120, 1, 1);
}
