{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Shero Online platform</title>
</head>
<body>
    <h2>its home</h2>


    <p>country:{{country}}</p>
    <p>region:{{region}}</p>
    <p>postal_code:{{postal_code}}</p>
    <p>city:{{city}}</p>
    <p>longitude:{{longitude}}</p>
    <p>latitude:{{latitude}}</p>
    <a href="{{map_link}}">location</a>
</body>
</html>